@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Quattrocento:400,700');

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.twitterSearch {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px #eeeeee solid;
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    width: 100%;
}

.twitterSearch:focus {
    box-shadow: none;
    outline: none;
}

.searchBar {
    position: fixed;
    top: 10px;
    width: 60%;
    margin-left: 20%;
}

h1 {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 42px;
    margin-top: 0;
    text-align: center;
}

h3 {
    font-family: 'Quattrocento';
    font-weight: 700;
    font-size: 20px;
}

.haikus h3 {
    font-size: 26px;
}

.twitterHandle {
    margin-top: 15px;
    font-family: 'Quattrocento';
    font-size: 26px;
    color: navy;
    text-decoration: none;
    display: block;
}

.move:hover {
    cursor: pointer;
    text-decoration: underline;
}

.navigation h3 {
    display: inline-block;
    margin: 0px 10px;
}

p {
    font-family: 'Quattrocento';
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.haikus p {
    font-size: 30px;
    line-height: 40px;
}

.submit {
    display: inline-block;
    font-size: 28px;
    font-family: 'Open Sans';
    font-weight: 700;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #333;
    border-radius: 2px;
}

.submit:hover {
    color: white;
    background-color: #333;
    cursor: pointer;

}

.app {
    color: #333;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

img {
    padding: 5px;
    border: 1px solid #333;
    border-radius: 2px;
}

.center {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

@keyframes blink1 {
    0% {opacity: 0;}
    20% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes blink2 {
    0% {opacity: 0;}
    40% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes blink3 {
    0% {opacity: 0;}
    60% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
}

.blink1 {
    animation: blink1 3s infinite !important;
    display: inline-block;
}

.blink2 {
    animation: blink2 3s infinite;
    display: inline-block;
}

.blink3 {
    animation: blink3 3s infinite;
    display: inline-block;
}

@media only screen and (min-width: 1025px) and (max-width: 1500px){
    .center {
        width: 70%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .center {
        width: 80%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    h1 {
        font-size: 34px;
    }

    .haikus p {
        font-size: 20px;
    }

    .center {
        width: 95%;
        /*position: relative;
        top: 0;
        transform: translateY(0%);*/
    }

    .searchBar {
        position: fixed;
        width: 95%;
        margin-left: 2.5%;
    }
}
